<h3>Корзина</h3>
<table ng-show="Cart.items.length > 0" class="table table-hover" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <td>Название</td>
        <td>Количество</td>
        <td>Цена</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="oi in Cart.items">
        <td>{{oi.productTitle}}</td>
        <td >
            <button type="button" class="btn btn-outline-danger"
                    ng-click="updateQuantity(oi.productTitle,-1)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-dash-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM6 9.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1H6z"></path>
                </svg>
            </button>
            {{oi.quantity}}
            <button type="button" class="btn btn-primary"
                    ng-click="updateQuantity(oi.productTitle,1)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"></path>
                </svg>
            </button>
        </td>
        <td>{{oi.quantity + ' x ' + oi.pricePerProduct + ' = ' + oi.price}}</td>
        <td>
            <button type="button" class="btn btn-outline-danger"
                    ng-click="deleteCartProductById(oi.productTitle)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
                </svg>
            </button>
        </td>
    </tr>
    <tr>
        <td>Итого</td>
        <td></td>
        <td>{{Cart.totalPrice}}</td>
    </tr>
    </tbody>
</table>
<span ng-show="Cart.items.length == 0">Ваша корзина пуста</span>
</div>
<div  ng-show='Cart.items.length > 0'>
    <button class="btn btn-danger" ng-click="clearCart()">Очистить корзину</button>
    <button class="btn btn-primary" ng-click="goToOrderSubmit()">Оформить заказ</button>
</div>